*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background-position: center;
    background-image: url('https://cdn.wallpapersafari.com/89/26/cFTld3.png');
}
header{
    top: 0;
    left: 0;
    right: 0;
    background: #e3e0da;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}
header .navbar ul li ul li{
    font-size:20px; 
    color:#333;
    padding-left:10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: inline;

}
header .navbar ul li ul li input{
    height:15px;
    width:15px;
}
header .navbar ul li a:hover{
    background:#333;
    color:#fff;
}
header .navbar ul li ul{
    position: absolute;
    left:0;
    width:180px;
    background:#fff;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0, 0,0.1);
} 
header .navbar ul li ul input{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100%;
    font: bold 15px arial,sans-serif;
    text-shadow: none;
    cursor: pointer;
}

header .navbar ul li:focus-within >  ul,
header .navbar ul li:active >ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;   
    }
    header .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:#fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display:none;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: #eee;
    }
    header .navbar ul li ul li ul{
        width:100%;
        left:0;
    }
    #menu-bar:checked ~.navbar{
         display: initial;
    }
}